@import "partial";

@font-face {
    font-family: Digital;
    src: url("../fonts/digital-7.ttf");
}

header {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../images/analytics-blur-business-590045.jpg");
    text-align: center;
    line-height: 170px;
    font-weight: bold;
    font-size: 84px;

    a {
        text-decoration: none;
        color: maroon;
        font-family: Digital;
    }
}

nav {
    width: 100%;
    position: sticky;
    top: 0px;
    list-style: none;
    background-color: green;
    z-index: 1;

    ul {
        @extend %center-slim;
        list-style-type: none;
        margin: 0;
        display: flex;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    li {
        flex: auto;

        &:hover { background-color: lightgreen; }
    }

    a {
        line-height: 60px;
        display: block;
        text-align: center;
        font-size: 18px;
        color: white;
        font-family: sans-serif;
        text-decoration: none;

        &:hover { color: black; }
    }
}
