.navigation {
    position: sticky;
    top: 0px;
    list-style: none;
    width: 100%;
    background-color: #4bec58;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    min-width: 935px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.navigation li {
    flex: auto;
}

.navigation a {
    line-height: 60px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: blue;
    font-family: sans-serif;
}

.navigation li:hover {
    background-color: #008600;
    color: white;
}

.mainPage {
    display: block;
    height: 100%;
    width: 70%;
    background-color: white;
    font-family: sans-serif;
    min-width: 930px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.mainPage > div {
    padding: 10px;
    margin: 10px;
}

.mainPage h1 {
    font-size: 36px;
}

.mainPage p {
    font-size: 24px;
}
