.navigation {
    position: sticky;
    top: 0px;
    list-style: none;
    height: 60px;
    width: 100%;
    background-color: #4bec58;
}

.nav_options {
    display: block;
    min-width: 930px;
    max-width: 70%;
    display: flex;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.nav_options a {
    flex: auto;
    text-align: center;
    font-size: 18px;
    display: block;
    text-decoration: none;
    line-height: 60px;
    font-family: sans-serif;
    color: blue;
}

.navigation a:hover {
    background-color: #008600;
    color: white;
}

.mainPage {
    display: block;
    height: 100%;
    width: 70%;
    background-color: white;
    font-family: sans-serif;
    min-width: 930px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.mainPage > div {
    padding: 10px;
    margin: 10px;
}

.mainPage h1 {
    font-size: 36px;
}

.mainPage p {
    font-size: 24px;
}
