.home {
  display: block;
  height: 100%;
  background-color: white;
  font-family: sans-serif; }

.home {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  min-width: 935px; }

.home > div {
  padding: 10px;
  margin: 10px; }

.home h1 {
  font-size: 36px; }

.home p {
  font-size: 24px; }

.home form {
  font-size: 20px; }

.home textarea {
  width: 100%;
  height: 200px;
  resize: none;
  background-color: lightyellow;
  padding: inherit;
  line-height: 20px; }

.home table {
  border-collapse: collapse;
  width: 100%;
  border: solid black; }
  .home table thead {
    background-color: black;
    color: white; }
  .home table th, .home table td {
    border: 1px solid grey;
    width: 50%;
    padding: 10px; }
  .home table td:nth-child(even) {
    text-align: center; }
  .home table tr:nth-child(even) {
    background-color: #dddddd; }

.calc h1 {
  text-align: center; }

.calc .graph > a, .calc .work > a {
  font-weight: bold;
  background: none;
  border: none;
  font-size: 18px;
  user-select: none; }
  .calc .graph > a:hover, .calc .work > a:hover {
    cursor: pointer;
    color: grey; }

.calc .defaultView {
  height: 0;
  opacity: 0;
  width: 100%;
  display: flex; }
  .calc .defaultView.shown {
    transition: height 500ms 0ms, opacity 500ms 0ms;
    opacity: 1;
    height: 500px; }
  .calc .defaultView.hide {
    transition: height 500ms 0ms, opacity 500ms 0ms;
    opacity: 0;
    height: 0; }

.calc #freq, .calc #box {
  flex: auto;
  width: 50%;
  height: 100%;
  overflow: hidden; }
